[submodule "roles/jenkins"]
	path = roles/jenkins
	url = https://github.com/geerlingguy/ansible-role-jenkins.git
[submodule "roles/geerlingguy.java"]
	path = roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "roles/nagios"]
	path = roles/nagios
	url = https://github.com/osiell/ansible-nagios-server.git
[submodule "roles/gitolite"]
	path = roles/gitolite
	url = https://github.com/silpion/ansible-gitolite.git
[submodule "roles/fail2ban"]
	path = roles/fail2ban
	url = https://github.com/nickjj/ansible-fail2ban.git
