---
# Database backup script
#
# Backs up databases defined in host_vars to /var/backups/daily with best compression.
# Runs daily at 4:00 AM via cron.
#
# Configure databases in host_vars/<hostname>.yml:
#
#   backup_databases:
#     - name: myapp
#       cmd: pg_dump -U postgres myapp
#     - name: shop
#       cmd: docker exec -i mysql_container mysqldump -uroot shop

- hosts: all
  tasks:
    - name: Create daily backup directory
      file:
        path: /var/backups/daily
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Install backup script from template
      template:
        src: templates/backup-databases.sh.j2
        dest: /usr/sbin/make-backups
        owner: root
        group: root
        mode: '0700'

    - name: Install backups cron entry
      cron:
        name: "Database backups to /var/backups/daily"
        minute: "0"
        hour: "4"
        job: "/usr/bin/nice -n 20 /usr/sbin/make-backups"
